<% if user_signed_in? and current_user.id == @profile.user.id %>
  <%= render 'form' %>
<% else %>
  <h2 class="text-dark" style="text-align: center">Você não tem acesso à esta página.</h2>
<% end %>
