<div class="opaque-overlay">
  <div class="container p-4">
    <div class="container">
      <div class="row setup-content">
        <div class="col-lg-12 well text-center profile"> 
          <div class="profile-content">
             <center><h3>Quem somos</h3></center>
             <br>
             <br>
             <p align="justify"> O objetivo do SmartFome é tornar fácil a busca por vendedores de lanches na rua, por preços e promoções de comida. 
             Nossos principais clientes são microempreendores e públicos diversos que gostam de fazer lanches na rua. O SmartFome foi desenvolvido em 2017, por 3 alunos do Bacharelado em Tecnologia da Informação, Clarissa Alves, Susanny Barbosa e Victor Hugo de Oliveira na cidade de Natal/RN.</p>
         </div>
        </div>
      </div>
    </div>
  </div>
</div>