

<div class="row">
  <div class="col-md-3">
    <%=image_tag("logonome.png", class: "img-fluid d-block mx-auto mb-5")%>
  </div>
  <div class="col-md-9 text-primary align-self-center">
    <h1 class="display-3 mb-4"><b class="">Mate a sua fome com inteligência!</b></h1>
    <p class="lead mb-5">Encontre aqui a opção que você deseja. </p>
  </div>
</div>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-7">
      <form class="form-group" method="get" action="/pages/search">
        <input type="search" name="search" class="form-control form-control-lg" placeholder="Digite aqui o que você busca comer...">
        </div>
        <div class="col-md-2">
        <button type="search" class="btn btn-primary btn-lg">Buscar</button>
        </div>
      </form>
  
</div>