<%= form_for(@product) do |f| %>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group has-danger">
      <label class="sr-only" for="email">E-Mail</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
        <%= f.text_field :name, class: "form-control", id: "email", placeholder: "Nome do produto", autofocus: true %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group has-danger">
      <label class="sr-only" for="email">E-Mail</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
        <%= f.text_field :description, class: "form-control", id: "email", placeholder: "Descrição", autofocus: true %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <div class="form-group has-danger">
      <label class="sr-only" for="email">E-Mail</label>
      <div class="input-group mb-2 mr-sm-2 mb-sm-0">
        <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
        <%= f.text_field :price, value: number_with_precision(f.object.price, precision: 2), class: "form-control", id: "email", placeholder: "Preço", autofocus: true %>
      </div>
    </div>
  </div>
</div>
<div class="row" style="padding-top: 1rem">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <button type="submit" class="btn text-white btn-secondary"><i class="fa fa-sign-up"></i>cadastrar</button>
  </div>
</div>
<% end %>
